'scopeName': 'text.basic.meo'
'name': 'matheco'
'fileTypes': ['meo']
'patterns': [
    {
        'match': "\\b(max|min|sort|add|mul|sub|div|fact|sqrt|pow|exp|log|cos|sin|tan|cosr|sinr|tanr|eq|neq|geq|leq)\\b"
        'name': 'token.keyword'
    }
]
